
body {
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: .5px;
}

 .main h1
 {font-family: 'Public Sans', sans-serif;
 font-weight: 700;
 line-height: 26pt;
text-decoration: none;
font-size: 25px;
color: #000000;
}

.main h2
 {font-family: 'Public Sans', sans-serif;
 font-weight: 600;
 margin:0;
text-decoration: none;
font-size: 23px;
color: #000000;
display: block;
}

.main h3
 {font-family: 'Public Sans', sans-serif;
 font-weight: 500;
 font-size: 16px;
 color: #000000;
}

.main h4
 {font-family: 'Public Sans', sans-serif;
 font-weight: 400;
text-decoration: none;
font-size: 13px;
color: #000000;
display: block;
}


.main h5
 {font-family: 'Public Sans', sans-serif;
text-decoration: none;
font-weight: 200;
font-size: 11px;
color: #0f0f0f0f
display: block;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: show;
  padding-top: 15px;
  padding-bottom: 20px
}

.br b{
  border-right-style: solid; }

.sidenav a {
  font-family: 'Public Sans', sans-serif;
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
}
.sidenav b {
  font-family: 'Public Sans', sans-serif;
  padding: 12px 12px 42px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #oooooo;
  display: block;
}

.sidenav g {
  font-family: 'Public Sans', sans-serif;
  padding:  45px 2px 2px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #oooooo;
  display: block;

}

.sidenav a:hover {
  color: #000000;
}

.main {
  margin-top:40px;
  margin-left: 240px; /* Same as the width of the sidenav */
}


a:visited {
  color: #000;
}

header {
  padding: 40px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 10px;
  margin: 0;
}

.jumbotron {
  margin-top: 40px;
  display: flex;
  align-items: center;
  background-image: url('images/atlas-of-weak-signals/My Atlas.png');
  background-size: 100%;
  color: #ffffff;
  height: auto;
}


section .row img {
  margin: 0 0 0px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%
}

.container {
  padding-bottom: 40px;
  padding-top: 20px;
}

.row {
  padding-bottom: 10px;
  padding-top: 0px;
}

.col-md-6 {
  margin: 0 0 30px;
}

.col-md-3 {
  margin: 0 0 10px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 10px 0;
  margin-top: 10px ;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 24px;
  height: 24px;
}

body ol,ul {
  padding-left: 16px;
}
